absl-py==1.1.0
asgiref==3.5.2
astunparse==1.6.3
bcrypt==3.2.0
blinker==1.4
boto3==1.24.21
botocore==1.27.21
cachetools==5.2.0
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorama==0.4.4
cryptography==3.4.8
Django==4.0.5
django-crispy-forms==1.14.0
django-emoji-picker==0.0.6
django-environ==0.9.0
django-filter==22.1
django-hitcount==1.3.5
django-storages==1.12.3
django-widget-tweaks==1.4.12
djangorestframework==3.13.1
Flask==2.1.2
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.8.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.3
grpcio==1.47.0
gunicorn==20.1.0
httplib2==0.20.2
importlib-metadata==4.6.4
jupyter-core==4.9.1
keras==2.9.0
Keras-Preprocessing==1.1.2
lockfile==0.12.2
Markdown==3.3.7
more-itertools==8.10.0
numpy==1.23.0
oauthlib==3.2.0
packaging==21.3
pandas==1.4.3
Pillow==9.0.1
psycopg2-binary==2.9.3
requests==2.25.1
requests-oauthlib==1.3.1
sqlparse==0.4.2
urllib3==1.26.5
whitenoise==6.2.0
